<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    <!-- 1. Definición de un bean básico, sin inyección de dependencias.
    <bean id ="triangle" class="org.roka9.spring.Triangle"/>
    -->
    
    <!-- 2. Definición extra con propiedad (variable privada a inicializar). -->
    <bean id ="triangle" class="org.roka9.spring.Triangle">
    	<property name="type" value="equilateral"/>
    
    </bean>
    
</beans>